# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local env files
.env
.env*.local
.env.development
.env.production
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor settings
.vscode/
.idea/
*.swp

# optional caches
.eslintcache
.turbo/
